<div class="w-full py-6 px-3">
    <div class="border bg-white shadow-lg rounded-lg overflow-hidden border-black">
        <a href="{{ product_product.url }}">
            {% if product_product.featured_image %}
                <div class="h-[600px] overflow-hidden relative">
                    <img class="w-full h-full object-cover transition duration-1000 ease-in-out hover:scale-105 transform"
                        src="{{ product_product.featured_image | image_url: width: 960 }}"
                        width="{{ product_product.featured_image.width }}"
                        height="{{ product_product.featured_image.height }}"
                        loading="lazy"
                        alt="{{ product_product.featured_image.alt }}"
                    >
                    <a href="#" class="shopNowLink absolute text-black top-[80%] bg-white left-[35%] right-[35%] text-3xl text-center rounded-md font-bold p-6 pt-2 pb-2">SHOP NOW</a>

                </div>
                
            {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cover bg-gray-100' }}
            {% endif %}
        </a>
    </div>
</div>

<style>
    @media (max-width: 768px) {
        .shopNowLink{
            font-size: 1rem;
            padding: 0;
        }
    }

</style>