<div class="flex flex-col md:flex-row p-5 md:p-28 gap-10 md:gap-28 bg-black">
  <div class="relative group w-full md:w-[80%] hover:scale-105 transition-all animate-pulse hover:animate-none">
    <a
      href="{{ section.settings.link }}"
      target="_blank"
      class="z-10 absolute top-0 left-0 right-0 bottom-0 bg-[#00000091] flex justify-center items-center text-white opacity-0 group-hover:opacity-100 transition-opacity duration-300">
      <div class="fill-red-600 icon-youtube">
        {% render "icon-youtube" %}
      </div>
    </a>
    <img
      class="w-full rounded-lg object-cover shadow-md transition-transform duration-300 group-hover:opacity-90"
      src="https://img.youtube.com/vi/{{ section.settings.link | split: 'v=' | last | split: '?' | first | split: '/' | last }}/maxresdefault.jpg"
      loading="lazy"
      alt="{{ section.settings.title | escape }}">
  </div>

  <div class="text-gray-300 flex flex-col justify-center">
    <h2 class="text-3xl md:text-5xl font-bold mb-5 text-gradient">{{ section.settings.title }}</h2>
    <div class="text-justify text-base md:text-lg leading-relaxed main-history-text">
      {{ section.settings.text }}
    </div>
    <div class="w-full flex justify-center items-center">
      <a href="{{ section.settings.href }}" class="bg-gray-600 hover:bg-gray-700 transition-all p-3 rounded-lg text-center font-semibold mt-5 shadow-md max-w-[100px]">Productos</a>
    </div>
  </div>
</div>

<style>
  .text-gradient {
    background: linear-gradient(90deg, #cecece, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .icon-youtube svg {
    width: 60px;
    height: 62px;
  }
  @media (max-width: 768px) {
    .icon-youtube svg {
      width: 40px;
      height: 42px;
    }
  }
  .main-history-text p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: justify;
    margin-bottom: 20px;
    margin-top: 2px;
  }
  .main-history-text h4{
    font-size: 1.5rem;
    font-weight: bold;
  }
</style>

{% schema %}
  {
    "name": "About Banner",
    "settings": [
      {
        "type": "text",
        "id": "link",
        "label": "YouTube Video Link"
      }, {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "richtext",
        "id": "text",
        "label": "Text"
      }, {
        "type": "text",
        "id": "href",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "About Banner"
      }
    ]
  }
{% endschema %}