<div class="banner flex h-[80vh]" style="margin-top: -120px;">
    <video style="filter: brightness(50%);" class="m-auto w-full h-full object-cover" src="{{ section.settings.video.sources[1].url }}" loop muted playsinline autoplay></video>

    <div class="absolute text-white text-justify top-[30%] lg:right-[10%] lg:left-[60%] right-[0] left-[0] ">
        <div class="text-center mb-5">
            <h1 class="text-5xl">
                {{ section.settings.title  }}
            </h1>
            <h2 class="text-2xl">
                {{ section.settings.subtitle  }}
            </h2>
        </div>
        <p style="text-align: justify; opacity: 50%; " class=" hidden sm:block sm:text-xs">
            {{ section.settings.text }}
        </p>
        <a href="collections/all" class="mt-10 w-full block text-center opacity-50 hover:opacity-100 transition">{{ section.settings.txtBtn }}</a>
    </div>
</div>



{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "limit": 1,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "hola"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle",
            "default": "hola"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Slideshow"
        },
        {
            "type": "text",
            "id": "txtBtn",
            "label": "Button"
        },
        {
            "type": "video",
            "id": "video",
            "label": "video"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "collection"
        }
    ]
}
{% endschema %}
