<div class="banner flex h-[80vh]" style="margin-top: -120px; position: relative;">
    <video style="filter: brightness(50%);" class="m-auto w-full h-full object-cover" src="{{ section.settings.video.sources[1].url }}" loop muted playsinline autoplay></video>

    <!-- Contenedor centralizado -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-white">
        <div class="text-center mb-5" style="font-size: {{ section.settings.titleSize }}px;">
            <h1>
                {{ section.settings.title }}
            </h1>
            <h2 style="font-size: {{ section.settings.subtitleSize }}px;">
                {{ section.settings.subtitle }}
            </h2>
        </div>
        <p class="hidden sm:block text-center opacity-50 w-[50%]" style="font-size: {{ section.settings.textSize }}px;">
            {{ section.settings.text }}
        </p>
        <a href="collections/all" class="mt-10 block text-center opacity-50 hover:opacity-100 transition">
            {{ section.settings.txtBtn }}
        </a>
    </div>
</div>


{% schema %}
{
    "name": "Slideshow",
    "tag": "section",
    "class": "slideshow",
    "limit": 1,
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "hola"
        },
        {
            "type": "text",
            "id": "subtitle",
            "label": "subtitle",
            "default": "hola"
        },
        {
            "type": "text",
            "id": "text",
            "label": "Slideshow"
        },
        {
            "type": "text",
            "id": "txtBtn",
            "label": "Button"
        },
        {
            "type": "video",
            "id": "video",
            "label": "video"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "collection"
        },
        {
            "type": "number",
            "id": "titleSize",
            "label": "title"
        },
        {
            "type": "number",
            "id": "subtitleSize",
            "label": "subtitle"
        },
        {
            "type": "number",
            "id": "textSize",
            "label": "text"
        }
    ]
}
{% endschema %}
